

.main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    width:90%;
    height:auto;
    margin: auto;
    gap:20px;
    border:1px solid brown;
    margin-top: 90px;
    text-transform: capitalize;
    text-decoration: none;
}
.main>div{
    border:1px solid black;
}